<!DOCTYPE html>
<html>

<head>
	<title>JsMarka - Authentication Error</title>
	<meta charset="utf-8">
	<meta name="author" content="Sochima Biereagu">
	<meta name="description" content="JsMarka is a javascript code performance benchmarking app, providing an easy way to create and share test cases.">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel='stylesheet' href='/assets/styles/normalize.css' />
	<link rel='stylesheet' href='/libs/bootstrap/css/bootstrap.min.css' />
	<link rel='stylesheet' href='/libs/bootstrap/css/bootstrap-theme.min.css' />
	<link rel='stylesheet' href='/assets/styles/css/style.css' />
	<style>
		footer {
			display: block;
			margin-top: 2em;
			border-top: 2px solid #c4c4c4;
			font-size: 0.9em;
		}
		footer ul {
			padding: 0;
			margin: 2px 2px 4px 3px;
			list-style: none;
		}
		footer > ul > li {
			float: left;
			width: 15%;
		}
		footer > ul > li[about] {
			width: 55%;
			margin-right: 180px;
		}
		footer ul ul li {
			margin-bottom: 0.1em;
		}
	</style>
</head>

<body id='error_page'>
	<% let signInUrl = "/auth/github"; %>

		<nav id="nav" class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">
						<img id='nav-logo' src='/assets/images/jsmarka.png' />
					</a>
				</div>
				<!--/#navbar -->
			</div>
		</nav>

		<div class="container-fluid body">
			<div style="margin: 50px auto; text-align: center;">
				<h1> Sorry we couldn't log you in right now </h1>

				<div style="margin-top: 200px;">
					<a href="<%=signInUrl%>" id="signin" class="btn btn-danger">
						<img width="15" height="15" src="/assets/images/github-mark.png"> Try Again
					</a>
					<a href="/" class="btn btn-success">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span> Go Home
					</a>
				</div>
			</div>
		</div>
		<!-- /.body -->


		<footer>
			<ul>
				<li about>
					<h4>About</h4>
					<p>JsMarka is a javascript code performance benchmarking app, providing an easy way to create and share test cases.</p>
				</li>

				<li>
					<h4>Tests</h4>
					<ul>
						<li><a href="/tests?cat=latest">Latest</a></li>
						<li><a href="/tests?cat=popular">Popular</a></li>
					</ul>
				</li>
				<li>
					<h4>Jsmarka</h4>
					<ul>
						<li><a href="https://github.com/kodejuice/jsmarka">GitHub</a></li>
						<li><a href="https://twitter.com/kodejuice">@kodejuice</a></li>
					</ul>
				</li>
			</ul>
		</footer>

		<script src='/libs/jquery/jquery-3.2.1.min.js'></script>
		<script src='/libs/bootstrap/js/bootstrap.min.js'></script>
</body>

</html>