<!DOCTYPE html>
<html>

<head>
	<title>JsMarka - JavaScript Code Performance Benchmarker</title>
	<meta charset="utf-8">
	<meta name="author" content="Sochima Biereagu">
	<meta name="description" content="A JavaScript Code Perfomance benchmarker">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<link rel='stylesheet' href='/assets/styles/normalize.css' />
	<link rel='stylesheet' href='/libs/bootstrap/css/bootstrap.min.css' />
	<link rel='stylesheet' href='/libs/bootstrap/css/bootstrap-theme.min.css' />
	<link rel='stylesheet' href='/assets/styles/css/style.css' />
	<link rel='stylesheet' href='/libs/jquery-confirm/jquery-confirm.min.css' />
	<style>
		footer {
			display: block;
			margin-top: 2em;
			border-top: 2px solid #c4c4c4;
			font-size: 0.9em;
		}
		footer ul {
			padding: 0;
			margin: 2px 2px 4px 3px;
			list-style: none;
		}
		footer > ul > li {
			float: left;
			width: 15%;
		}
		footer > ul > li[about] {
			width: 55%;
		}
		footer ul ul li {
			margin-bottom: 0.1em;
		}
		.resizable {

		}
	</style>
</head>

<body>
	<% let signInUrl = "/auth/github"; %>

	<div data-signedIn hidden><%= !!signedIn %></div>

	<div id='data-html-code' hidden>
		<!-- user html code goes here -->
	</div>

	<nav id="nav" class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">
					<img id='nav-logo' src='/assets/images/jsmarka.png' />
				</a>
			</div>
			<div align="right" id="navbar">
				<% if (!signedIn){ %>
					<a href="<%=signInUrl%>" id="signin" title="Signin to save tests" class="btn btn-default">
						<img width="15" height="15" src="/assets/images/github-mark.png"> Github Sign In
					</a>
				<% } else { %>
					<a id="signout" data-rdr="/" class="btn btn-danger">
						<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
						Sign Out (<%= user.username %>)
					</a>
				<% } %>
			</div>
			<!--/#navbar -->
		</div>
	</nav>

	<!-- help dialog -->
	<div class="modal fade helpDialog" tabindex="-1" role="dialog" aria-labelledby="dialog">
	    <div class="modal-dialog modal-lg" role="document">
	        <div class="modal-content" style="padding: 5px;">
	            <br>
	            <!-- title -->
	            <blockquote>
	                <b> title (</b>String <em>title</em><b>)</b>
	                <blockquote>
	                    <p>sets the title of your test</p>
	                </blockquote>
	            </blockquote>
	            <!-- benchmarkCode -->
	            <blockquote>
	                <b> benchmarkCode (</b>String <em>test_name</em><b>,</b> Function <em>test</em><b> [,</b> Boolean <em>async</em> = false <b>]</b>)
	                <blockquote>
	                    <br>
	                    <p> String <em>test_name</em> </p>
	                    <blockquote>
	                        <p>Specifies the name of the test beign run</p>
	                    </blockquote>
	                    <br>
	                    <p> Function <em>test</em> </p>
	                    <blockquote>
	                        <p>The test function</p>
	                    </blockquote>
	                    <p> Boolean <em>async</em> </p>
	                    <blockquote>
	                        <p>Indicates your test runs asynchronously, if set to true then the <em>test</em> function is passed an object as argument,
	                            <br><br> Call the <b>resolve()</b> method of that object when your asynchronous test is complete
	                        </p>
	                    </blockquote>
	                </blockquote>
	            </blockquote>
	            <!-- teardown -->
	            <blockquote>
	                <b> teardown (</b>Function <em>fn</em><b>)</b>
	                <blockquote>
	                    <p>Calls <b>fn</b> after each test loop, outside the tested code region</p>
	                </blockquote>
	            </blockquote>
	            <!-- oncycle -->
	            <blockquote>
	                <b> oncycle (</b>Function <em>fn</em><b>)</b>
	                <blockquote>
	                    <p>Calls <b>fn</b> after each run cycle, outside the tested code region</p>
	                </blockquote>
	            </blockquote>
	        </div>
	    </div>
	</div>


	<!-- test runner help -->
	<div class="modal fade runnerHelp" tabindex="-1" role="dialog" aria-labelledby="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content" style="padding: 9px;">
				<h3> Test Runner </h3>
				<br>
				<p>
					The test runner provides functions which are used to run tests, use the <b>Help</b>(<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>) button beside the code editor to see how these functions are utilized.
				</p>
				<p>
					If the benchmark runner stays still for a long time without progressing, then the test isnt running probably because of an error in your code, close the test runner dialog and look for the problem in your code.
				</p>
				<br>
				<p>
					<h4><b>Tips</b></h4>
					<ul>
						<li>Disable firebug if running on firefox.</li>
						<li>Append "<b>#run</b>" to a tests' url to automatically run the test once the page loads.<br>
						(eg. <em>http://jsmarka.com/a-simple-test#run</em>)</li>
					</ul>
				</p>
			</div>
		</div>
	</div>


	<!-- keyboard shortcuts -->
	<div class="modal fade keyboards" tabindex="-1" role="dialog" aria-labelledby="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content" style="padding: 5px;">
				<h3>Keyboard Shortcuts</h3>
				<br>
				<div class="panel panel-default"> 
					<div class="panel-heading">Test</div>
					<table class="table">
						<tr>
						  	<td> <kbd>Ctrl + s</kbd> </td>
						  	<td> Save test </td>
						</tr>
						<tr>
						  	<td> <kbd>Ctrl + return</kbd> </td>
						  	<td> Run test </td>
						</tr>
					</table>
				</div>

				<div class="panel panel-default"> 
					<div class="panel-heading">Editor</div>
					<table class="table">
						<tr>
						  	<td> <kbd>Ctrl + .</kbd> </td>
						  	<td> Make JsMarka a scratchpad, runs your code without benchmarking </td>
						</tr>
						<tr>
						  	<td> <kbd>Ctrl + b</kbd> </td>
						  	<td> <b>Beautify code</b> - Focus on the edior then use this key to beautify the code in the editor </td>
						</tr>
					</table>
				</div>

				<p>
					<cite>JsMarka</cite> uses <a href="http://ace.c9.io">ace.js</a>, so for more keyboard shortcuts go here <a href="http://github.com/ajaxorg/ace/wiki/Default-Keyboard-Shortcuts">ace.js Default Keyboard Shortcuts</a>
				</p>
			</div>
		</div>
	</div>


	<!-- test runner dialog-->
	<div class="modal fade runner" data-backdrop='false' data-keyboard='false' id='runner' role="dialog" aria-labelledby="runner" data-exec-script='true'>

		<div class="modal-dialog modal-md" role="document">
			<div class="modal-content">
				<div align="right">
					<button title="close" data-target='.runner' data-toggle='modal' id="close_runner" class="btn btn-danger test-btn">
						<b> X </b>
					</button>
				</div>

				<div id='circle-modal'></div>
				<div id='canvas'>
					<canvas id='test-result'></canvas>
				</div>
				<div id='current-test'></div>
				<div align='right'>
					<button title="save" id="save_test" class="btn btn-primary test-btn" hidden>
						<span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save test
					</button>
				</div>
			</div>
		</div>
	</div>



	<!-- .body -->
	<div class="container-fluid body">
		<a href="/tests" class="btn btn-primary">
			<span class="glyphicon glyphicon-saved" aria-hidden="true"></span> Saved tests
		</a>
		<button title="reset" id="reset_editor" class="btn btn-default">
			<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Reset editors
		</button>

		<div class="row" id="editor-container">
			<div class="col col-sm-6">
				<!-- toggle js/html -->
				<div id='toggle_buttons'>
					<button title="JS" id="js_tog" data-index='0' class="btn btn-primary test-opt"><b>JS</b></button>
					<button title="HTML" id="html_tog" data-index='1' class="btn test-opt"><b>HTML</b></button>
				</div>

				<!-- run test button -->
				<button title="Run test" id="run_test" class="btn btn-info test-opt" data-toggle="modal" data-target=".runner">
					<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
				</button>
				<!-- change theme button -->
				<button title="Change theme" id="change_theme" class="btn btn-default test-opt">
					<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
				</button>

				<!-- editors -->
				<div class="codeview code resizable" id="editor1" data-index='0'></div>        <!-- js -->
				<div class="codeview code resizable" id="editor3" data-index='1' hidden></div> <!-- html -->
			</div>
			<div class="col col-sm-6">
				<!-- help button -->
				<button title="Help" id="help" class="btn btn-success test-opt" data-toggle="modal" data-target=".helpDialog">
					<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
				</button>

				<!-- editor -->
				<div class="codeview resizable" id="editor2"></div>
			</div>
		</div>

	</div>
	<!-- /.body -->


	<footer>
		<ul>
			<li about>
				<h4>About</h4>
				<p>JsMarka is a javascript code performance benchmarking app, providing an easy way to create and share test cases.</p>
			</li>

			<li>
				<h4>Help</h4>
				<ul>
					<li><a href="#" data-toggle="modal" data-target=".runnerHelp">Test runner</a></li>
					<li><a href="#" data-toggle="modal" data-target=".keyboards">Keyboard shortcuts</a></li>
				</ul>
			</li>
			<li>
				<h4>Tests</h4>
				<ul>
					<% if (!!signedIn) { %> <li><a href="/mytests">My tests</a></li> <% } %>
					<li><a href="/tests?cat=latest">Latest</a></li>
					<li><a href="/tests?cat=popular">Popular</a></li>
				</ul>
			</li>
			<li>
				<h4>Jsmarka</h4>
				<ul>
					<li><a href="https://github.com/kodejuice/jsmarka">GitHub</a></li>
					<li><a href="https://twitter.com/kodejuice">@kodejuice</a></li>
				</ul>
			</li>
		</ul>
	</footer>

	<script src='/libs/ace/ace.js'></script>
	<script src="/libs/ace/ext-language_tools.js"></script>
	<script src='/libs/jquery/jquery-3.2.1.min.js'></script>
	<script src='/libs/bootstrap/js/bootstrap.min.js'></script>
	<script src='/libs/jquery-confirm/jquery-confirm.min.js'></script>
	<script src='/libs/jquery-hotkeys/jquery.hotkeys.min.js'></script>
	<script src='/libs/chartjs/Chart.min.js'></script>

	<script src='/assets/js/build/helpers.min.js'></script>
	<script src='/assets/js/build/editor.min.js'></script>
	<script src='/assets/js/build/bundle.js'></script>
	<script src='/assets/js/build/script.min.js'></script>

<!-- code editor default contents -->
<div id='code-1' hidden>


/*
  test setup
  
  The code here is injected to the benchmark setup,
   so define your test variables and functions here

   the editor by the right should be where you write the actual tests.
   
   Note: do not combine these two together, you may get inaccurate results
*/


// factorial (iterative version)
function factorial_iterative(n) {
	var r = 1;
	for (var i = n; i > 0; i -= 1){
		r *= i;
	}
	return r;
}

// factorial (recursive version)
function factorial_recursive(n){
	return n > 0 ? n * factorial_recursive(n - 1) : 1;
}
</div>

<div id='code-2' hidden>
// set test title
title("Factorial (iterative VS recursive)");

// run benchmark for factorial_iterative
benchmarkCode("iterative", function(){
	factorial_iterative(100);
});

// run benchmark for factorial_recursive
benchmarkCode("recursive", function(){
	factorial_recursive(100);
});
</div>


<div id='code-3' hidden>


&lt;!--
	&lt;script src="https://code.jquery.com/jquery-3.2.1.min.js"&gt;&lt;/script&gt;
	&lt;div id='test'&gt;&lt;/div&gt;
--&gt;

</div>

</body>

</html>